* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1{

    border: solid;
    border-color: rgb(253, 253, 253);
    color: rgb(14, 12, 12);


    background-color:#ebb00d ;
    
    text-align: center;
    font-family: serif;
   
    
}
body{
    font-family: 'Hind Vadodara', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    color: #555;
    background-size:cover;
    background-position: center;
    


}
h3:hover{
    background-color: rgb(255, 255, 255);  
    color: rgb(20, 2, 2);
    border-radius: 10px;
    
    
    font-variant:inherit;
    

}
h3{
    padding-left: 10%;
    opacity: 1;
    color: azure;
  
}


.back{
    text-align: right;
    color: rgb(15, 189, 87);
    height: 100%;
    opacity: 1;
}
.back:hover{
    color: blue;
}
table, th, td {
    border: 1px solid black;
  }
.print{
    color: rgb(4, 0, 12);
    opacity: 1;
}
.print:hover{
    color: blue;
}

