h2{
    
    text-align: center;
}
p{
    padding-left: 50%;
}
.grid
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly ;

}
.item{
    position: relative;
    margin-top: 10%;
    
    
}
.item h2 {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-150%);
    opacity: 0;
    color: rgb(75, 72, 75);
    

}
.item:hover h2{
    opacity: 1;
}
.item h4{
    position:absolute;
    top: 50%;
    left: 50%;
    margin-top:50% ;
    transform: translate(-50%,-150%);
    opacity: 0;
    text-align: center;
    color: rgb(0, 0, 0);
    

}

.item:hover h4{
    opacity: 1;
}
.item:hover img{
    opacity:0.6 ;
   border: solid;
   border-color: rgb(56, 11, 219);
}
.panel {
    border: 1px solid #f8f9fa;
    margin-bottom: 20px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0), 0 1px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
.o1{
    margin-top: 9%;
    color: skyblue;
    background-color: rgb(41, 43, 39);
}
body {
    font-family: 'Hind Vadodara', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    color: #555;
}
img{
    border:solid ;
    border-color:rgb(10, 10, 10);
}
.call {
border: solid;
text-align: center;
margin-bottom: 10%;
color: rgb(10, 10, 10);
background-color: rgb(10, 10, 10);
}
p{
    text-align: start;
}
.call a{
    color:rgb(252, 249, 249);
    
    
}
.call a:hover{
    color: rgb(29, 219, 70);
   
    
    
}
