body{
    background-color: rgb(246, 248, 248);
}
.container clearfix {
    border: solid;
}
header{
  border: solid;
  border-color: DodgerBlue;
  border-top: 10%;
  background-color: DodgerBlue;
}
header h1{
    text-align: center;  
    font-family: monospace; 
    color: aliceblue;
   
}
header img{
   
  
    width: 10%;
    height: 10%;
  
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}
table {
    width: 99%!important;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
table {
    background-color: transparent;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: grey;
}

